* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 32px 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.ficha-tecnica {
  font-size: 14px;
  color: #555;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 30px; 
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navegacion ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 25px; 
}

.itemNavegacion a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

nav {
  margin-top: 8px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 16px;
}

#catalogo h2 {
  font-size: 20px;
  margin-bottom: 16px;
}



.itemNavegacion{
    text-decoration: none;
    list-style: none;
    
}

.marca{
    list-style: none;
}

.stock{
    list-style: none;
}

.btn-agregar{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1% 6%;
    cursor: pointer;
    border-radius: 4px;
}

.tarjeta button:hover{
    background-color: #0074b8d0;
}

.tarjeta :disabled {
    background-color: #333;
    cursor: not-allowed;
}

.tarjeta {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 24px;
    text-align: center;
}

.tarjeta img {
    width: 50%;
    height: auto;
}

.itemOfertas {
    list-style: none;
    
}
#catalogo h2 {
  font-size: 20px;
  margin-bottom: 16px;
}



.itemNavegacion{
    text-decoration: none;
    list-style: none;
}

.marca{
    list-style: none;
}

.stock{
    list-style: none;
}

.btn-agregar{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1% 6%;
    cursor: pointer;
    border-radius: 4px;
}

.tarjeta {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 24px;
    text-align: center;
}

.tarjeta img {
    width: 50%;
    height: auto;
}

.itemOfertas {
    list-style: none;
    
}

.contenedorFooter {
    
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contenedorFooter h6{
    font-size: 20px;
    color: black;
}

#catalogo {
    max-width: 800px;
    margin: 40px;
    padding: 0 20px;
}

#ofertas {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

